parameters:
	ignoreErrors:
		-
			message: '#^Property Juampi92\\PhpstanBaselineWarnings\\Domain\\BaselineParser\:\:\$storage is never read, only written\.$#'
			count: 3
			path: src/Domain/BaselineParser.php

		-
			message: '#^Method Juampi92\\PhpstanBaselineWarnings\\Domain\\BaselineParser\:\:parseBaseline\(\) has parameter \$baseDir with no type specified\.$#'
			identifier: param.missingType
			count: 1
			path: src/Domain/BaselineParser.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			count: 2
			path: src/Domain/BaselineParser.php
